

<p><h1>Secret recipes of a Palm Beach Chef</h1>
<br>
As <strong>executive chef of the distinguished Everglades Club and St. Andrews Club, to say James</strong> can look after a million moving pieces would almost be an understatement; with multiple restaurants within the five-star resort, he expertly offers the best of the best. His self-proclaimed "American flare" is evident in his new takes on classics like his lump crab cake with parsnip purée, watercress, Cabernet tomatoes, and balsamic brown butter and internationally inspired dishes, such as tuna tartare and scallop crudo. If it's good enough for the rich and famous, it's good enough for us.
<hr>
<strong>Now James</strong> woukle like to share some insider tips and recipes with you all
</p>

